@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

// Font Variables
$primary-font: "Press Start 2P", cursive;

body {
  background: #003a70;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
span {
  font-family: $primary-font;
}


.pokedex {
  &-header {
    padding-top: 2em;
    text-shadow: 0px 5px 5px #2a75bb;
    color: #ffcb05;
    font-size: 4em;
  }
  &-pokeball-sizing {
    width: 150px;
    height: 100px;
  }
  &-card {
    border: 10px solid #ffcb05 !important;
  }
  &-card-content {
    background: #ee8329 !important;
  }
  &-card-image {
    margin: 1em;
    border: 3px solid black;
  }
}

.pokemon {
  &-header {
    display: flex;
    padding: 3em 3em 1em 3em;
    flex-flow: row wrap;
    align-items: center;
    h2 {
      color: #ffffff;
    }
  }
  &-img-container {
    background: rgba(243, 237, 237, 0.3);
    padding: 2em;
    border-radius: 10px;
  }
  &-types-header {
    color: #ffffff;
  }
  &-arrow {
    margin-left: 7em;
  }
  &-stats-container {
    align-items: center !important;
    h3 {
      margin-right: 1em;
      color: #ffffff;
    }
  }
}

.random {
  &-pokemon-card {
    text-align: left !important;
    background:linear-gradient(	#3d7dca 75%, #6eb0ca 25%) !important;
  }
  &-header {
    font-family: $primary-font !important;
    font-size: 13px !important;
    padding-top: 1em;
  }
}
img.random-pokemon-img {
  margin: 0 !important;
}
